//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 1079px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same @gridGutterWidth

	//   #topbar {
	//   	display: none;
	//   }

	// .mobile-logo {
	// 	display: block;
	// }

	// .wide-logo {
	// 	display: none;
	// }

	.container {
		width: 100%;
	}

	.page .main-content {
		width: 97%;
	}

	

	#topbar [class*="span"] {
		margin-left: 0;
	}

	// [class*="span"], .home.page [class*="span"] {
	// 	float: none;
	// }

	//Headers//
	h1, h2, h3 {
		line-height: normal;
	}

	h1.large {
		font-size: 27px;
	}

	h2 {
		font-size: 19px;
	}

	.lgrey {
		color: #7c7d7f;
	}

	.span14 {
		width: 100%;
	}

	.slides,
    .slides img,
    .slide {
	    width: 100% !important;
	    height: auto !important;
	    max-width:900px;
	    max-height:491px;
  	}

	// #slideshow {
	// 	margin-bottom: 95px;
 //   		height:603px;
 //   		background: #f8f9fb;
	// }

	#partners {
		background: #f8f9fb;
		padding:25px 0;
		box-shadow: inset 0 0 10px #F1F2F4;
		clear: both;
   		margin:80px 0;
   		float: none;
	}

	#partners a {
	   background: url(../img/icon-techlogos.png) no-repeat;
	   width: 160px;
	   margin: 0 10px;
	   height: 74px;
	   text-indent: -9999px;
	   display: inline-block;
	}

	.pc {
	  background-position: -170px 0 !important;
	}

	.bs {
	  background-position: -360px 0 !important;
	}

	.l3 {
	  background-position: -540px 0 !important;
	}

	.cs {
	  background-position: -720px 0 !important;
	}

	#partners a.button-two,
	a.button-grey {
		background:none;
	   -webkit-border-radius: 4px;
	   -moz-border-radius:4px;
	   border-radius: 4px;
	   background-color: #bdbdbd;
	   text-indent: 0;
	   text-transform: uppercase;
	   box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	   font-size: 13px;
	   color:#fff;
	   width: auto;
	   height: auto;
	   padding: 4px 14px;
	   text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	   margin-top: 10px;
	   letter-spacing:1px;
	}

	.slider-prev,
	.slider-next {
		top:42%;
	}

  	.slider-prev {
  		left:3%;
  	}

  	.slider-next {
  		right:3%;
  	}

  	.home .case-study-body {
  		position: relative;
  		top:10%;
  		left:3%;
  	}

  	.home .case-study-body h2 {
  		font-size: 26px;
  	}

  	.row#featured-story-one {
  		min-height: 573px !important;
  	}

  	.home .case-study {
  		height:495px !important;
  		background-position: 0 0 !important;
  		-webkit-background-size: 100% !important;
  		background-size: 100% !important;
  		
  	}

  	.home .case-study-body h1.large {
  		font-size: 37px;
  		line-height: 37px;
  		margin-bottom: 10px;
  	}

  	.home .case-study-body h1

  	.case-study-image {
  		top:-33% !important;
  		margin-right: 4% !important;
  	}

  	#featured-story-two .spancontent {
  		padding: 25px !important;
  		margin-top: 351px !important;
  	}

  	//Sidebar//
  	.sidebar-content {
		clear:both;
		width:96%;
		margin:10px 0 24px 0;
		border:1px solid #dddee0;
		border-width:1px 0;
		position: relative;
		left:2%;
	}

	.sidebar-content .sidebar {
		width:100%;
	}

	#whyCloud, #services, #whyAlteva {
		width: 19%;
		float: left;
		margin:10px 7% 0;
		text-align: center;
		padding:60px 0 26px 0;
		background-position:center 8% !important;
		
	}

	.sidebar-content strong, .sidebar-content a, .sidebar-content a:hover {
		color: #195fa4;
	}

	footer .container {
		clear: both;
	}

	//Subpage design elements
	.category-list-entry p {
		display: none;
	}

	.category-list-entry h3 {
		border:none;
		max-width:100%;
		font-size: 23px;
		margin:17% auto 0 auto;
		position: relative;;
		line-height: 21px;
	}

	.category-list-entry {
		text-align: center;
		width: 40%;
		margin-right:5%;
		float:left;
		padding:12px 0;
		background: #f8f9fb;
		box-shadow: 0 0 10px #edefee inset;
		margin-bottom:20px;
		height: 119px;
		border-radius: 3px;
	}

	.category-list-entry img {
		max-width:44px;
		right:45%;
		margin-left:-25%;
		top:17%;
	}

	.category-list-entry a.button-flatgrey {
		display: none;
	}

	.breadcrumbs {
		display: none;
	}

	h1.title {
		font-size: 19px;
		text-align: center;
		background: url(../img/arrow-down.png) no-repeat right 25%;
		padding-right:23px;
		font-weight:normal;
		display: inline-block;
		position: relative;
		left:23px;
	}

	.page-header {
		text-align: center;
		position: relative;
		width:106%;
		left:-3%;
	}

	.row {
		text-align: center;
	}

	a.read-more,
	a.read-less {
		margin:0 auto;
		width: 40%;
		border-radius:0;
		margin:20px auto 50px auto;
		padding:2px 10px;
	}

	.category-listing-label {
		display: none;
	}

	.homepage-block-one, .homepage-block-two {
		margin-top: -32px;
	}


	 /* ==========================================================================
   Menus
   ========================================================================== */

  .nav {
     margin-bottom:0;
  }

  /*li.menu-alteva-local {
  margin-right: 10%;
  }*/

  #topbar {
  	display: none;
  }


}
