//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1080px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth1200, @gridGutterWidth1200);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth1200, @fluidGridGutterWidth1200);

  // Input grid
  #grid > .input(@gridColumnWidth1200, @gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1000px;
    margin-bottom:40px;
  }

  .span16 {
    width: 1200px;
  }
  .span15 {
    width: 1120px;
  }
  .span14 {
    width: 1000px;
  }
  .span13 {
    width: 960px;
  }
  .span12 {
    width: 940px;
  }
  .span11 {
    width: 860px;
  }
  .span10 {
    width: 780px;
  }
  .span9 {
    width: 700px;
  }
  .span8 {
    width: 620px;
  }
  .span7 {
    width: 540px;
  }
  .span6 {
    width: 460px;
  }
  .span5 {
    width: 380px;
  }
  .span4 {
    width: 300px;
  }
  .span3 {
    width: 220px;
  }
  .span2 {
    width: 140px;
  }
  .span1 {
    width: 60px;
  }

  #slideshow {
    width: 1200px;
  }

  .wrap {
    top:-13px;
    -webkit-box-shadow: #eceeef 0 0 17px;
           box-shadow: #eceeef 0 0 17px;
  }

    [class*="span"],
  .home.page [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }

  .page [class*="span"],
  .single [class*="span"] {
    margin-left: 30px;
  }


  .home.page .row {
    margin-left: -20px;
  }

  /* ==========================================================================
   Menus
   ========================================================================== */

  .nav {
     margin-bottom:0;
  }

  /*li.menu-alteva-local {
  margin-right: 10%;
  }*/

  

  .menu-primary-navigation-container ul {
   margin: 0;
   padding: 0;
  }

  .menu-primary-navigation-container > ul > li {
   font-size: 16px;
   text-transform: uppercase;
   display:inline-block;
   width: auto;
   margin-right: 20px;
  }

  .menu-primary-navigation-container > ul > li > ul > li {
   text-transform: none;
   font-size: 12px;
   line-height: 22px;
   display:block;
  }

  .menu-primary-navigation-container > ul > li > ul > li a {
  display: block;
  line-height: 12px;
  margin: 6.5px 0;
  }

  #menu-primary-navigation > li > a:hover,
  #menu-primary-navigation > li:hover > a,
  #menu-primary-navigation > li > a:focus,
  #menu-primary-navigation > .active > a,
  #menu-primary-navigation > .active > a:hover,
  #menu-primary-navigation > .active > a:focus {
  text-decoration: none;
  background-color: #fff;
  background: #01488a;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  color:#fff;
  text-shadow: #003d73 1px 1px 0;

  }

  ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
  }

  .nav .dropdown-toggle .caret { display:none; }

  .category-list-entry:nth-child(odd) {
  clear: both;
  }

  .dropdown-menu > li > a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
  white-space: nowrap;
  }

  .dropdown-menu > li > a:hover, 
  .dropdown-menu > li > a:focus, 
  .dropdown-submenu:hover > a, 
  .dropdown-submenu:focus > a {
  background: none;
  filter: !important; /*For IE*/
  }

  .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: auto;
  padding: 6px 7px;
  margin: 0px 0 0;
  list-style: none;
  background-color: #2193cd;
  border: 1px solid #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  }

  .nav-pills .dropdown-menu {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  }

  .dropdown-submenu > .dropdown-menu {
  -webkit-border-radius: 0px 10px 10px 0px;
          border-radius: 0px 10px 10px 0px;
  left:100%;
  min-width: 100%;
  margin: -6px 0 0 0px;
  border-left: #fff 1px solid;
  }

  #menu-primary-navigation .dropdown-menu {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  }

  #menu-primary-navigation li {
  margin: 0 9.5px;
  }

  #menu-primary-navigation li:first-child {
  margin-left: 0;
  }

  #menu-primary-navigation.affix li {
  margin: 0 7px 0 0;
  }

  #menu-primary-navigation .dropdown-menu li {
  margin: 0 !important;
  display: block;
  padding: 0 4px;  
  border-bottom: #53ADDA 1px solid;

  }
  #menu-primary-navigation .dropdown-menu li a:hover,
  #menu-primary-navigation .dropdown-menu li a:focus {
  background-color: #005aa4;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff005aa4', endColorstr='#ff005aa4', GradientType=0); /*For IE*/  
  }

  #menu-primary-navigation .dropdown-menu li:first-child a:hover,
  #menu-primary-navigation .dropdown-menu li:first-child a:focus,
  #menu-primary-navigation .dropdown-menu li ul.dropdown-menu li:first-child a:hover,
  #menu-primary-navigation .dropdown-menu li ul.dropdown-menu li:first-child a:focus {
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
  border-radius: 8px;  
  }

  #menu-primary-navigation .dropdown-menu.multi li:first-child a:hover,
  #menu-primary-navigation .dropdown-menu.multi li:first-child a:focus,
  #menu-primary-navigation .dropdown-menu.multi li ul.multi li:first-child a:hover,
  #menu-primary-navigation .dropdown-menu.multi li ul.multi li:first-child a:focus {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius:8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  }

  #menu-primary-navigation .dropdown-menu.multi li:last-child a:hover,
  #menu-primary-navigation .dropdown-menu.multi li:last-child a:focus,
  #menu-primary-navigation .dropdown-menu.multi li ul.multi li:last-child a:hover,
  #menu-primary-navigation .dropdown-menu.multi li ul.multi li:last-child a:focus {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius:0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  }

  #menu-primary-navigation .dropdown-menu li:first-child a {
  margin-top: 4px;
  }

  #menu-primary-navigation .dropdown-menu li:last-child a {
  margin-bottom: 4px;
  }

  #menu-primary-navigation .dropdown-menu li:last-child {
  border-bottom: none;
  }

  #menu-primary-navigation .dropdown-menu > li > a {  
  text-shadow: #1f7aa9 1px 1px 0;
  padding: 3px 40px 3px 10px;
  margin: 0;
  }

  /*#menu-primary-navigation .dropdown-menu > .active > a {
  background: #005aa4;
  }*/

  #menu-primary-navigation > li > a {
  padding: 8px 14px;
  line-height: 18px;
  }

  .dropdown-submenu > a:after {
  border-left-color: #005aa4;
  margin-top: -17px;
  right:19px;
  position: absolute;
  }

  .nav-main {
    clear: both;
  }

  a.get-started {
  float: right;
  padding: 2px 16px;
  font-size: 16px !important;
  position: relative;
  margin-top: -73px;
  color:#fff !important;
  }

  a.get-started:hover,
  a.get-started:focus {
  text-decoration: none !important;
  padding: 2px 16px;
  }

  /* ===========================================================================
   Main Navigation Affix Styling
   =========================================================================== */

  #menu-primary-navigation.affix {
  top: 16px;
  z-index: 100000;
  position: relative;
  border: none;
  }

  .affix-container {
  width: 100%;
  left: 0;
  height: 71px;
  -webkit-box-shadow: #c1c1c1 0 1px 20px;
          box-shadow: #c1c1c1 0 1px 20px;
  background: #fcfdfd;
  position: fixed;
  top:0;
  z-index:9999;
  line-height: 71px;
  border-bottom: 1px solid #ddd; /*For IE*/
  }

  .admin-bar .affix-container {
  top:28px;
  }

  #menu-primary-navigation.affix ul {
  position: absolute;
  left: -10000px;
  }

  #menu-primary-navigation.affix > li > a {
  color: #979797;
  font-size: 16px;
  height: auto;
  line-height: 16px;
  padding: 8px 13px;
  -webkit-border-radius: 4px;
   -moz-border-radius:4px;
   border-radius: 4px;
  }

  #menu-primary-navigation.affix > li > a:hover,
  #menu-primary-navigation.affix > li > a:focus {
  text-decoration:none;
  background-color: #46a3aa;
  text-shadow: none;
  color: #fff;
  -webkit-border-radius: 4px;
   -moz-border-radius:4px;
   border-radius: 4px;
  filter: !important; /*For IE*/
  }

  #menu-primary-navigation.affix > li.active > a {
  color:#fff;
  background-color: #d3d3d3;
  text-shadow: none;
  filter: !important; /*For IE*/
  }


}
